.table {
  width: auto;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transform: translateY(-100%);
  transition: transform .7s ease;
}

.table.table_active {
  background-color: rgb(202, 247, 247);
  transform: translateY(0);
}

.table td {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 5px;
  word-wrap: break-word;
}

.table thead {
  background-color: lightpink;
  font-weight: 500;
}

.table tr {
  cursor: pointer;
}

.table tr:nth-child(even) {
  background-color: #fff;
}

.table tr:active {
  background-color: lightyellow;
}

.table tr:hover {
  -webkit-text-stroke: 1px #000;
}