.calc {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calc label {
  text-align: left;
}

.calc span {
  margin-left: 10px;
}

.calc input {
  display: block;
  padding: 10px;
  margin-right: 10px;
}

.input {
  width: 200px;
}

.total {
  margin-top: 20px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 700;
}

.total span {
  display: inline-block;
  margin-left: 20px;
}

.fakeInput {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.fakeInput strong {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.fakeInput span {
  display: block;
  font-size: 1rem;
  font-weight: 200;
}