.btn {
  font-size: 2rem;
  color: teal;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  width: 3rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
}

.btn:active {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.calc {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form label {
  text-align: left;
}

.form span {
  margin-left: 10px;
}

.form input {
  display: block;
  padding: 10px;
  margin-right: 10px;
}

.input {
  display: flex;
}

.total {
  margin-top: 20px;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 700;
}

.total span {
  display: inline-block;
  margin-left: 20px;
}