.table {
  width: auto;
  background-color: #fff;
  position: absolute;
  top: -2000px;
  left: 0;
  z-index: 5;
  transition: top 0.7s ease;
}

.table_active {
  background-color: rgb(202, 247, 247);
  top: 0;
}

.table td {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 5px;
  word-wrap: break-word;
}

.table thead {
  background-color: lightpink;
  font-weight: 500;
}

.table tr {
  cursor: pointer;
}